body {
  font-family: Arial, sans-serif;
  background: #E3E3E3;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 380px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

h2, p {
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
  background: #1350FF;
  color: black ;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #00FF22;
}

#hasil {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.5;
}

.ringkasan {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  font-weight: bold;
}

button:disabled{
 background:#03FF26;
 cursor: not-allowed;
}